@font-face {
    font-family: 'Montserrat';
    src: url("../ext/Montserrat-Medium.ttf") format('truetype'); /* Safari, Android, iOS */
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', serif;
}

.photo-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.photo-gallery img {
    max-height: 80vh;
    min-height: 10vh;
    max-width: 30vw;
    min-width: 10vw;
    margin: 1em;
}

.photo-gallery img:hover {
    cursor: pointer;
}

hgroup {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: black;
    color: white;
    height: fit-content;
}